// COLORS
$color-primary: #FFC10B;
$color-secondary: #24275D;

$color-green: #74BF54;
$color-grey: #9AA1AE;

$color-light-grey: #EEEEEE;

$color-dark-grey: #8A8A8A;


$white: #fff;
$black: #000;
$color-brownish-black: #151515;


// FONT
$default-font-size: 12px;
