.Header {
    margin: 0px 24px 0px;

    display: flex;
    align-items: center;
    flex-direction: row;
    margin-bottom: 10px;

    &--bars{
        cursor: pointer;
    }
    
    &--logo{
        margin: 0px auto;
    }
}