.inputGroup-Password{
    position: relative;
}

.eyeIcon {
    background-color: transparent !important;
    border: none !important;
    position: absolute !important;
    top: 25px !important;
    right: 30px !important;
    cursor: pointer !important;
}
