
*,
*::after,
*::before {
    // margin: 0 !important;
    // padding: 0 !important;
    box-sizing: border-box;
}

html {
    // This defines what 1rem is
    // font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%

    border: 1px solid #ccc; 
}

html, body {
    height: 600px;
    width: 375px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif !important;
	// -webkit-font-smoothing: antialiased;
	// -moz-osx-font-smoothing: grayscale;
}

.App{	
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
