
.Login {
    @include flex-container-column;

    &__Img_container {
        margin: 60px 100px 40px 100px !important;
        height: 100px;
        width: 133px;
        text-align: center;
    }

    &__placeholder{
        height: 160px;
        width: 160px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
    }

    &__formContainer{
        width: 100% !important;
    }

    &__text{
        font-size: 12px; 

        p{  
            color: $color-grey;
            margin: 37px 0px 30px 0px !important;
        }
        a{
            text-decoration: none;
            color: $color-secondary;
            font-weight: bold;
        }
    }

    &-forgotPassword{
        text-align: center;
        a{
            text-decoration: none;
            font-weight: bold;
            color: $color-secondary;
            font-size: 14px;
        }
    }
}
